<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <title>Instagram</title>
  </head>
  <body>
    <div class="nav-left">
      <div>
        <img src="/assets/logo-light.png" class="insta-logo" alt="" />
      </div>
      <div class="nav-middle">
        <div class="nav-btn">
          <i class="fa-solid fa-house fa-lg"></i>
          <div class="nav-title">Home</div>
        </div>
        <div class="nav-btn">
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          <div class="nav-title">Search</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-compass fa-lg"></i>
          <div class="nav-title">Explore</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-paper-plane fa-lg"></i>
          <div class="nav-title">Messages</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-heart fa-lg"></i>
          <div class="nav-title">Notifications</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-square-plus fa-lg"></i>
          <div class="nav-title">Create</div>
        </div>
        <div class="nav-btn">
          <img src="/assets/avatar.png" class="nav-ava" alt="" />
          <div class="nav-title">Profile</div>
        </div>
      </div>
      <div class="nav-btn">
        <i class="fa-solid fa-bars fa-lg"></i>
        <div class="nav-title">More</div>
      </div>
    </div>
    <div>
      <% for(let i =0;i<data.length;i++) {%>
      <div class="home-page">
        <div class="post">
          <div class="post-top">
            <img src="/assets/avatar.png" class="post-ava" alt="" />
            <div class="post-top-user">teamdt</div>
            <div class="post-dot"><i class="fa-solid fa-ellipsis"></i></div>
          </div>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Pure_Green.svg/1024px-Pure_Green.svg.png"
            alt=""
          />
          <div class="post-interact">
            <ion-icon name="heart-outline" class="icon-interact"></ion-icon>
            <ion-icon
              name="chatbubble-outline"
              class="icon-interact"
            ></ion-icon>
            <ion-icon
              name="paper-plane-outline"
              class="icon-interact"
            ></ion-icon>
            <ion-icon
              name="bookmark-outline"
              class="icon-interact-1"
            ></ion-icon>
          </div>
          <div class="post-like"><%= data[i].like %>  likes</div>
          <div class="post-caption-body">
            <div class="post-caption-user">teamdt</div>
            <span
              >There were two things that were important to Tracey. The first
              was her dog. Anyone that had ever met Tracey knew how much she
              loved her dog. Most would say that she treated it as her child.
              The dog went everywhere with her and it had been her best friend
              for the past five years. The second thing that was important to
              Tracey, however, would be a lot more surprising to most people.
            </span>
            <div class="post-view-comment">View all comments</div>
          </div>

          <div class="post-add-comment">
            <div class="post-icon-comment">
              <ion-icon name="happy-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Add a comment..." />
          </div>
        </div>
      </div>
    </div>
    <% } %> 

    <div class="user-box">
      <div class="user-info">
        <img src="/assets/avatar.png" class="user-ava" alt="" />
        <div class="user-name">teamdt</div>
        <div>@teamdt</div>
        <div class="user-detail">
          <div class="user-number">
            <p>50</p>
            <p>Posts</p>
          </div>
          <div class="user-number">
            <p>14.4k</p>
            <p>Followers</p>
          </div>
          <div class="user-number">
            <p>15</p>
            <p>Following</p>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
