<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/update.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-left">
      <div><img src="/assets/insta-new-icon.png" class="insta-logo" alt="" /></div>
      <div class="nav-middle">
        <div class="nav-btn">
          <i class="fa-solid fa-house fa-lg"></i>
          <div class="nav-title">Home</div>
        </div>
        <div class="nav-btn">
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          <div class="nav-title">Search</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-compass fa-lg"></i>
          <div class="nav-title">Explore</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-paper-plane fa-lg"></i>
          <div class="nav-title">Messages</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-heart fa-lg"></i>
          <div class="nav-title">Notifications</div>
        </div>
        <div class="nav-btn">
          <i class="fa-regular fa-square-plus fa-lg"></i>
          <div class="nav-title">Create</div>
        </div>
        <div class="nav-btn">
          <img src="/assets/avatar.png" class="nav-ava" alt="" />
          <div class="nav-title">Profile</div>
        </div>
      </div>
      <div class="nav-btn">
        <i class="fa-solid fa-bars fa-lg"></i>
        <div class="nav-title">More</div>
      </div>
    </div>
    <div>
      <div class="home-page">
        <div class="post">
          <table>
            <tr>
              <td>
                <div class="update-ava"><img src="/assets/avatar.png" alt="" /></div>
              </td>
              <td>
                <div class="update-name">
                  <h4>teamdt</h4>
                  <div>Change profile photo</div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td style="vertical-align: text-top; float: right; padding-right: 10px;">Name</td>
              <td>
                <div class="update-detail-box">
                  <input type="text" />
                  <div class="update-detail">
                    Help people discover your account by using the name you're
                    known by: either your full name, nickname, or business name.
                  </div>
                  <div class="update-detail">
                    You can only change your name twice within 14 days.
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: text-top; float: right; padding-right: 10px;">
                Username
              </td>
              <td>
                <div>
                  <input type="text" />
                  <div class="update-detail">
                    In most cases, you'll be able to change your username back
                    to zuy25 for another 14 days.
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="update-title">Email</div>
              </td>
              <td>
                <div>
                  <input type="text" />
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="update-title">Phone number</div></td>
              <td>
                <div>
                  <input type="text" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="update-title">Age</div>
              </td>
              <td>
                <div>
                  <input type="text" />
                </div>
              </td>
            </tr>
          </table>

          
          <button>Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
